In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('../TextFiles/moviereviews.tsv', sep='\t')
df

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

[2000 rows x 2 columns]

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

[2000 rows x 2 columns]

In [19]:
df['review'].describe()

count     1965
unique    1939
top
freq        27
Name: review, dtype: object

In [24]:
# pandas - what is the length of the longest review

In [28]:
# drop all nan values rows
df.dropna(inplace=True)
df.count()

label     1965
review    1965
dtype: int64

In [36]:
empty_rows = []
for i, lb, rev in df.itertuples():
    if type(rev)==str:
        if rev.isspace():
            empty_rows.append(i)
print(len(empty_rows))

27

In [41]:
try:
    df.drop(empty_rows, inplace=True)
except KeyError:
    print('key not present! already deleted')

key not present! already deleted

In [43]:
len(df)

1938

In [48]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

In [49]:
X = df['review']
y = df['label']

In [88]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [90]:
# build the pipeline and fit the model
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

l_svc = Pipeline([('tfidf', TfidfVectorizer()),
                 ('svc', LinearSVC())
                 ])

In [91]:
l_svc.fit(X_train, y_train)
predictions = l_svc.predict(X_test)

In [63]:
from sklearn import metrics

In [92]:
print(metrics.confusion_matrix(y_test, predictions))

[[259  49]
 [ 49 283]]

In [93]:
print(metrics.classification_report(y_test, predictions))

              precision    recall  f1-score   support

         neg       0.84      0.84      0.84       308
         pos       0.85      0.85      0.85       332

    accuracy                           0.85       640
   macro avg       0.85      0.85      0.85       640
weighted avg       0.85      0.85      0.85       640

In [95]:
print(metrics.accuracy_score(y_test, predictions))

0.846875

In [126]:
l_svc.predict(['oh very well done !!'])

array(['pos'], dtype=object)

In [89]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

nb_pipe = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('nb', MultinomialNB())
])
nb_pipe.fit(X_train, y_train)
predictions = nb_pipe.predict(X_test)
print('Naive-Bayes',metrics.accuracy_score(y_test, predictions))

lr_pipe = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('lr', LogisticRegression())
])

lr_pipe.fit(X_train, y_train)
predictions = lr_pipe.predict(X_test)
print('Logistics Regression',metrics.accuracy_score(y_test, predictions))

Naive-Bayes 0.7640625
Logistics Regression 0.825